* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    font-family: 'Oswald', sans-serif;
    padding: 17px 38px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    border: 1px solid gray;

}

.container {
    width: 1321px;

}

/* <!-- Header/Bannar Section start --> */
.header {
    margin-top: 50px;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    place-items: center;

}

.header-text {
    height: 424px;
    width: 531px;

}

.header-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;

}

.header-text p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;

}

.header-btn {
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
    padding: 16px 25px 16px 25px;
    background: rgba(221, 0, 0, 1);
    cursor: pointer;
    margin-top: 30px;
    color: white;
    animation: headerbtn 4s linear infinite;
    transition: 4s ease-in-out;


}

@keyframes headerbtn {
    0% {
        background-color: wheat;
        color: #161616;
    }

    50% {
        background-color: rgb(46, 4, 4);
        color: white;
    }

    100% {
        background-color: rgba(221, 0, 0, 1);
        color: white;
    }
}

.header-btn:hover {
    animation-play-state: paused;
}

.header-img {
    width: 581px;
    height: 613px;
}

.header-img img {
    width: 100%;
}

/* <!-- Header/Bannar Section End --> */
/* *********************************** */
/* blog section start */
.sec-1 {
    margin: 130px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.sec-1-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 30px;
    height: 312px;
    width: 312px;
    border-radius: 10px;
    background: rgba(22, 22, 22, 1);

}

.sec-1-div-1 a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: #161616;


}

.sec-1-div-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;


}

.sec-1-card {
    display: flex;
    flex-direction: column;
    height: 362px;
    width: 312px;
    left: 1148px;
    top: 826px;
    border-radius: 5px;
    box-shadow: black 0px 3px 6px -4px;

}

.sec-1-card button {
    padding: 4px 16px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 20px;


}

.sec-1-card h4 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    color: rgba(22, 22, 22, 1);

}

.card-info {
    margin-left: 20px;
    margin-top: 10px;
}

.card-info span {
    margin-right: 20px;
}

.sec-1-card img {
    width: 100%;

}

.sec-1-div-1 a:focus, a:active {
    background-color: red;
    color: azure;
}

.sec-1-div-1 a:active {
    color: white;
}

/* blog section end */
/* *********************************** */
/* <!-- footer Section start --> */
.footer {
    width: 100%;
    height: 300px;
    background: rgba(22, 22, 22, 1);
    display: grid;
    place-items: center;
    padding: 60px 0px;

}

.footer hr {
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    color: rgba(185, 185, 185, 1);


}

.footer ul {
    display: flex;
}

.footer ul li {
    list-style: none;
    padding-left: 20px;
    flex-wrap: wrap;

}

.footer a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: rgba(185, 185, 185, 1);

}

/* <!-- footer Section end --> */

/* media querry tablet*/

@media screen and (min-width:568px) and (max-width:992px) {
    .special-btn {
        display: block;
        text-decoration: none;
        background-color: red;
        color: white;
        font-family: HelveticaNeue;
        font-size: 20px;
        font-weight: 400;
        margin-top: 40px;

    }

    main {
        width: 100%;
    }

    /* <!-- Header/Bannar Section start --> */

    .header {
        height: 398px;
        width: 734px;
        background: #161616;
        border-radius: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: white;
        place-items: center;
    }

    .header-text {
        height: 276px;
        width: 316px;

    }

    .header-text h1 {
        font-family: Poppins;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;


    }

    .header-text p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-top: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }

    .header-img {
        height: 340px;
        width: 323px;
    }

    /* <!-- Header/Bannar Section End --> */

    /* <!-- upcoming match Section start --> */
    .sec-1 {
        width: 100%;
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .sec-1-div-1 {
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        height: auto;
        width: auto;
        background: white;
        text-align: center;
        align-items: center;
    }

    .sec-1-div-1 a {
        text-decoration: none;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;

    }


    .sec-1-div-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 87px;
        row-gap: 30px;
        margin-top: 20px;
    }


}