* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    font-family: 'Oswald', sans-serif;
    padding: 17px 38px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.container {
    width: 1321px;

}

/* <!-- Header/Bannar Section start --> */
.header {
    margin-top: 50px;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    place-items: center;

}

.header-text {
    height: 424px;
    width: 531px;

}

.header-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;

}

.header-text p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;

}

.header-btn {
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
    padding: 16px 25px 16px 25px;
    background: rgba(221, 0, 0, 1);
    cursor: pointer;
    margin-top: 30px;
    color: white;
    animation: headerbtn 4s linear infinite;
    transition: 4s ease-in-out;


}

@keyframes headerbtn {
    0% {
        background-color: wheat;
        color: #161616;
    }

    50% {
        background-color: rgb(46, 4, 4);
        color: white;
    }

    100% {
        background-color: rgba(221, 0, 0, 1);
        color: white;
    }
}

.header-btn:hover {
    animation-play-state: paused;
}

.header-img {
    width: 581px;
    height: 613px;
}

.header-img img {
    width: 100%;
}

/* <!-- Header/Bannar Section End --> */
/* *********************************** */
/* <!-- upcoming match Section start --> */
.sec-1 {
    margin: 130px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.sec-1-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 30px;
    height: 312px;
    width: 312px;
    border-radius: 10px;
    background: rgba(22, 22, 22, 1);

}

.sec-1-div-1 a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    color: #161616;

}

.sec-1-div-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;


}

.sec-1-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 242px;
    border: 1px solid gray;
    border-radius: 5px;
}

.sec-1-card h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

.sec-1-card p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);


}

.sec-1-card img {
    height: 56.17778778076172px;
    width: 93.0444564819336px;

}

.card-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

}

.sec-1-div-1 a:focus, a:active {
    background-color: red;
    color: azure;
}

.sec-1-div-1 a:active {
    color: white;
}

/* <!-- upcoming match Section end --> */
/* *********************************** */
/* <!-- footer Section start --> */
.footer {
    width: 100vh;
    height: 444px;
    background: rgba(22, 22, 22, 1);


}

/* <!-- footer Section end --> */